.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}





body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}




.logo-word {
    color: #2E2F42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.menu-link {
    font-size: 16px;

    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
}



.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}



.adress-text {
    font-style: normal;
}



.contacts {
    color: #434455;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
    color: #404BBF;
}

.section-layer {
    background: #2E2F42;
}




.hero {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
    color: #FFF;
}

.order {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    color: var(--WHITE, #FFF);
    background-color: #4D5AE5;
}






.push:hover,
.push:focus {
    background: var(--OCEAN, #404BBF);
}

.benefits-list {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.benefits-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.team {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.team-group {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.section-layers {
    background: var(--CLOUD, #F4F4FD);
}


.profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.photo-layer {
    background: var(--WHITE, #FFF);
}



.portfolio {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.possibilities {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.possibilities-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

/* footer */
.layers {
    background: var(--NAVY-BLUE, #2E2F42);
}

.logo-white {

    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

.text-solution {
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}